
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sort:before {
	content: "\e664";
}
.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-pencil2:before {
	content: "\e602";
}
.icon-images:before {
	content: "\e603";
}
.icon-camera:before {
	content: "\e604";
}
.icon-headphones:before {
	content: "\e605";
}
.icon-play:before {
	content: "\e659";
}
.icon-book:before {
	content: "\e606";
}
.icon-books:before {
	content: "\e607";
}
.icon-file:before {
	content: "\e608";
}
.icon-profile:before {
	content: "\e609";
}
.icon-file-blank:before {
	content: "\e60a";
}
.icon-copy:before {
	content: "\e60b";
}
.icon-stack:before {
	content: "\e60c";
}
.icon-folder:before {
	content: "\e60d";
}
.icon-folder-open:before {
	content: "\e60e";
}
.icon-cart:before {
	content: "\e60f";
}
.icon-phone:before {
	content: "\e610";
}
.icon-clock:before {
	content: "\e611";
}
.icon-print:before {
	content: "\e65a";
}
.icon-download:before {
	content: "\e612";
}
.icon-upload:before {
	content: "\e613";
}
.icon-disk:before {
	content: "\e65b";
}
.icon-bubbles:before {
	content: "\e614";
}
.icon-user:before {
	content: "\e615";
}
.icon-users:before {
	content: "\e616";
}
.icon-parent:before {
	content: "\e617";
}
.icon-zoomin:before {
	content: "\e618";
}
.icon-zoomout:before {
	content: "\e619";
}
.icon-expand:before {
	content: "\e61a";
}
.icon-contract:before {
	content: "\e61b";
}
.icon-expand2:before {
	content: "\e65c";
}
.icon-lock:before {
	content: "\e61c";
}
.icon-unlocked:before {
	content: "\e61d";
}
.icon-cog:before {
	content: "\e61e";
}
.icon-cogs:before {
	content: "\e61f";
}
.icon-stats:before {
	content: "\e620";
}
.icon-bars:before {
	content: "\e621";
}
.icon-bars2:before {
	content: "\e622";
}
.icon-remove:before {
	content: "\e65d";
}
.icon-briefcase:before {
	content: "\e623";
}
.icon-logout:before {
	content: "\e624";
}
.icon-signup:before {
	content: "\e625";
}
.icon-list:before {
	content: "\e626";
}
.icon-menu:before {
	content: "\e627";
}
.icon-tree:before {
	content: "\e628";
}
.icon-cloud-download:before {
	content: "\e629";
}
.icon-globe:before {
	content: "\e62a";
}
.icon-earth:before {
	content: "\e62b";
}
.icon-link:before {
	content: "\e62c";
}
.icon-flag:before {
	content: "\e62d";
}
.icon-attachment:before {
	content: "\e62e";
}
.icon-eye:before {
	content: "\e62f";
}
.icon-eye-blocked:before {
	content: "\e630";
}
.icon-star:before {
	content: "\e631";
}
.icon-star2:before {
	content: "\e632";
}
.icon-thumbs-up:before {
	content: "\e633";
}
.icon-thumbs-down:before {
	content: "\e634";
}
.icon-close:before {
	content: "\e635";
}
.icon-checkmark:before {
	content: "\e636";
}
.icon-minus:before {
	content: "\e637";
}
.icon-plus:before {
	content: "\e638";
}
.icon-volume:before {
	content: "\e639";
}
.icon-volume-mute:before {
	content: "\e63a";
}
.icon-checkbox-checked:before {
	content: "\e63b";
}
.icon-checkbox-unchecked:before {
	content: "\e63c";
}
.icon-checkbox-partial:before {
	content: "\e63d";
}
.icon-radio-checked:before {
	content: "\e63e";
}
.icon-radio-unchecked:before {
	content: "\e63f";
}
.icon-libreoffice:before {
	content: "\e640";
}
.icon-file-pdf:before {
	content: "\e641";
}
.icon-file-word:before {
	content: "\e642";
}
.icon-file-excel:before {
	content: "\e643";
}
.icon-file-xml:before {
	content: "\e644";
}
.icon-file-css:before {
	content: "\e645";
}
.icon-search:before {
	content: "\e65e";
}
.icon-add:before {
	content: "\e65f";
}
.icon-subtract:before {
	content: "\e660";
}
.icon-exclamation:before {
	content: "\e661";
}
.icon-question:before {
	content: "\e662";
}
.icon-close2:before {
	content: "\e663";
}
.icon-envelope:before {
	content: "\e658";
}
.icon-calendar:before {
	content: "\e646";
}
.icon-statistics:before {
	content: "\e647";
}
.icon-pie:before {
	content: "\e648";
}
.icon-bars3:before {
	content: "\e649";
}
.icon-minus2:before {
	content: "\e64a";
}
.icon-plus2:before {
	content: "\e64b";
}
.icon-arrow-left:before {
	content: "\e64c";
}
.icon-arrow-down:before {
	content: "\e64d";
}
.icon-arrow-up:before {
	content: "\e64e";
}
.icon-arrow-right:before {
	content: "\e64f";
}
.icon-arrow-left2:before {
	content: "\e650";
}
.icon-arrow-down2:before {
	content: "\e651";
}
.icon-arrow-up2:before {
	content: "\e652";
}
.icon-arrow-right2:before {
	content: "\e653";
}
.icon-arrow-left3:before {
	content: "\e654";
}
.icon-arrow-down3:before {
	content: "\e655";
}
.icon-arrow-up3:before {
	content: "\e656";
}
.icon-uniE657:before {
	content: "\e657";
}
