<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
	RewriteRule ^finan/general/$ /modulos/finan/general/controller.php
	RewriteRule ^finan/debitosAutomaticos/$ /modulos/finan/debitosAutomaticos/controller.php
	RewriteRule ^finan/cierre_caja/$ /modulos/finan/cierre_caja/controller.php
	RewriteRule ^finan/convenio_pago/$ /modulos/finan/convenio_pago/controller.php
	RewriteRule ^finan/liquidez/$ /modulos/finan/liquidez/controller.php
	RewriteRule ^finan/salir/$ /finan/salir.php
	RewriteRule ^finan/salir$ /finan/salir.php
	RewriteRule ^finan/permisos/$ /modulos/finan/permisos/controller.php
	RewriteRule ^finan/descuentoalumnos/$ /modulos/finan/descuentoalumnos/controller.php
	RewriteRule ^finan/roles_usuarios/$ /modulos/finan/roles_usuarios/controller.php
	RewriteRule ^finan/sucursales/$ /modulos/finan/sucursales/controller.php
	RewriteRule ^finan/valida_cheques/$ /modulos/finan/valida_cheques/controller.php
	RewriteRule ^finan/bancos/$ /modulos/finan/bancos/controller.php
	RewriteRule ^finan/tarjetasCredito/$ /modulos/finan/tarjetasCredito/controller.php
	RewriteRule ^finan/puntos_emision/$ /modulos/finan/puntos_emision/controller.php
	RewriteRule ^finan/clientes/$ /modulos/finan/clientes/controller.php
	RewriteRule ^finan/clientes_externos/$ /modulos/finan/clientes_externos/controller.php
	RewriteRule ^finan/categorias/$ /modulos/finan/categorias/controller.php
	RewriteRule ^finan/items/$ /modulos/finan/items/controller.php
	RewriteRule ^finan/precios/$ /modulos/finan/precios/controller.php
	RewriteRule ^finan/gruposEconomico/$ /modulos/finan/gruposEconomico/controller.php
	RewriteRule ^finan/aniosPeriodo/$ /modulos/finan/aniosPeriodo/controller.php
	RewriteRule ^finan/facturas/$ /modulos/finan/facturas/controller.php
	RewriteRule ^finan/cuentaContables/$ /modulos/finan/cuentaContables/controller.php
	RewriteRule ^finan/devoluciones/$ /modulos/finan/devoluciones/controller.php
	RewriteRule ^finan/nivelEconomico/$ /modulos/finan/nivelEconomico/controller.php
	RewriteRule ^finan/nivelEconomicoCursos/$ /modulos/finan/nivelEconomicoCursos/controller.php
	RewriteRule ^finan/cobranza/$ /modulos/finan/cobranza/controller.php
	RewriteRule ^finan/crm_resultados/$ /modulos/finan/crm_resultados/controller.php
	RewriteRule ^finan/rep_cobranza/$ /modulos/finan/rep_cobranza/controller.php
	RewriteRule ^finan/rep_descuentos/$ /modulos/finan/rep_descuentos/controller.php
	RewriteRule ^finan/rep_saldosafavor/$ /modulos/finan/rep_saldosafavor/controller.php
	RewriteRule ^finan/rep_devoluciones/$ /modulos/finan/rep_devoluciones/controller.php
	RewriteRule ^finan/rep_notaCredito/$ /modulos/finan/rep_notaCredito/controller.php
	RewriteRule ^finan/rep_facturas/$ /modulos/finan/rep_facturas/controller.php
	RewriteRule ^finan/rep_ctasporcobrar/$ /modulos/finan/rep_ctasporcobrar/controller.php
	RewriteRule ^finan/rep_emisiones/$ /modulos/finan/rep_emisiones/controller.php
	RewriteRule ^finan/rep_mediacion/$ /modulos/finan/rep_mediacion/controller.php
	RewriteRule ^finan/rep_debito/$ /modulos/finan/rep_debito/controller.php
	RewriteRule ^finan/rep_antiquity/$ /modulos/finan/rep_antiquity/controller.php
	RewriteRule ^finan/cobros/$ /modulos/finan/cobros/controller.php
	RewriteRule ^finan/descuentofacturas/$ /modulos/finan/descuentofacturas/controller.php
	RewriteRule ^finan/documento/(.*)/(.*)/(.*)	/modulos/finan/cobros/controller.php?event=$1&tipo=$2&codigo=$3
	RewriteRule ^finan/PDF/(.*)/(.*)/(.*) /modulos/finan/PDF/controller.php?event=$1&tipo=$2&codigo=$3
	RewriteRule ^finan/tipo_descuento/ /modulos/finan/tipo_descuento/controller.php
	RewriteRule ^finan/notaCredito/$ /modulos/finan/notaCredito/controller.php
	RewriteRule ^finan/notaDebito/$ /modulos/finan/notaDebito/controller.php
	RewriteRule ^finan/gestionDocumentosNoAutorizados/$ /modulos/finan/gestionDocumentosNoAutorizados/controller.php
	RewriteRule ^finan/gestionFacturas/$ /modulos/finan/gestionFacturas/controller.php
	RewriteRule ^finan/gestionNotascredito/$ /modulos/finan/gestionNotascredito/controller.php
	RewriteRule ^finan/gestionNotasdebito/$ /modulos/finan/gestionNotasdebito/controller.php
	RewriteRule ^finan/gestionContifico/$ /modulos/finan/gestionContifico/controller.php
	RewriteRule ^finan/visor/$ /finan/visorIndex.php
	RewriteRule ^finan/visor$ /finan/visorIndex.php
	RewriteRule ^finan/documentosAutorizados/$ /modulos/finan/visorFacturas/controller.php
	RewriteRule ^finan/salirVisor/$ /modulos/finan/visorFacturas/controller.php
	RewriteRule ^finan/saldoaFavor/$ /modulos/finan/saldoaFavor/controller.php
	RewriteRule ^finan/contabilidad/$ /modulos/finan/contabilidad/controller.php
	RewriteRule ^finan/pagos/$ /modulos/finan/pagos/controller.php
	RewriteRule ^finan/VerDocumentosAutorizados/$ /modulos/finan/verDocumentosAutorizados/controller.php
	RewriteRule ^finan/verCaja/$ /modulos/finan/verCaja/controller.php
	RewriteRule ^finan/verSolicitud/$ /modulos/finan/verSolicitud/controller.php
	RewriteRule ^finan/enviarSolicitud/$ /modulos/finan/enviarSolicitud/controller.php
	RewriteRule ^finan/documentos_admision/$ /modulos/finan/documentos_admision/controller.php
	RewriteRule ^finan/student/$ modulos/finan/student/controller.php
	RewriteRule ^common/acerca/$ /modulos/common/acerca/controller.php
	RewriteRule ^common/region/$ /modulos/common/region/controller.php
	RewriteRule ^common/colegio/$ /modulos/common/colegio/controller.php
	RewriteRule ^common/profesion/$ /modulos/common/profesion/controller.php
	RewriteRule ^common/periodo/$ /modulos/common/periodo/controller.php
	RewriteRule ^common/usuarios/$ /modulos/common/usuarios/controller.php
	RewriteRule ^common/mensajeria/$ /modulos/common/mensajeria/controller.php
	RewriteRule ^acad/general/$ /modulos/acad/general/controller.php
	RewriteRule ^alumnos/actualizacion_datos/$ /modulos/alumnos/actualizacion_datos/controller.php
	RewriteRule ^alumnos/pagos/$ /modulos/alumnos/pagos/controller.php
	RewriteRule ^alumnos/pagos_respuesta/$ /modulos/alumnos/pagos/controller.php?event=get_debt_ans
	RewriteRule ^alumnos/pagos_respuesta_diners/$ /modulos/alumnos/pagos/controller.php?event=get_debt_ans_diners
	RewriteRule ^alumnos/general/$ /modulos/alumnos/general/controller.php
	RewriteRule ^admisiones/general/$ /modulos/admisiones/general/controller.php
	RewriteRule ^admisiones/verSolicitud/$ /modulos/admisiones/verSolicitud/controller.php
	RewriteRule ^admisiones/enviarSolicitud/$ /modulos/admisiones/enviarSolicitud/controller.php
	RewriteRule ^admisiones/documentos_admision/$ /modulos/admisiones/documentos_admision/controller.php
	RewriteRule ^biblio/general/$ /modulos/biblio/general/controller.php
	RewriteRule ^medic/general/$ /modulos/medic/general/controller.php
	RewriteRule ^medic/cons_estudiantes/$ /medic/cons_estudiantes/cons_estudiantes_template.php
	RewriteRule ^medic/cons_visitas/$ /medic/cons_visitas/cons_visitas_template.php
	RewriteRule ^medic/paciente/$ /modulos/medic/paciente/controller.php
	RewriteRule ^medic/paciente_consulta/$ /modulos/medic/paciente_consulta/controller.php
	RewriteRule ^medic/ficha_nuevo/$ /modulos/medic/ficha_nuevo/controller.php
	RewriteRule ^medic/ficha_visitas/$ /modulos/medic/ficha_visitas/controller.php
	RewriteRule ^medic/medi_medicinas/$ /medic/medi_medicinas/medi_medicinas_template.php
	RewriteRule ^medic/medi_presentaciones/$ /medic/medi_presentaciones/medi_presentaciones_template.php
	RewriteRule ^medic/rep_inventarios/$ /medic/rep_inventarios/rep_inventarios_template.php
	RewriteRule ^medic/rep_inventarios_pdf/$ /medic/rep_inventarios/rep_inventarios_pdf.php
	RewriteRule ^medic/rep_atenciones/$ /medic/rep_atenciones/rep_atenciones_template.php
	RewriteRule ^medic/comprobante_atencion/(.*) /medic/rep_atenciones/comprobante_atencion.php?aten_codigo_new=$1
	RewriteRule ^medic/comprobante_salida/(.*) /medic/rep_atenciones/comprobante_salida.php?aten_codigo_new=$1
	RewriteRule ^medic/comprobante_salida_personal/(.*) /medic/rep_atenciones/comprobante_salida_personal.php?aten_codigo_new=$1
	
</IfModule>