/*

$section_home: 	#017eba;


.section_home, .sectionColor{
	background-color: $section_home;
	.text{ background-color: $section_home; }
}



$section_agenda: #00a651;
.section_agenda{
	background-color: $section_agenda;
	.text{ background-color: $section_agenda; }
}


$section_material: #f26522;
.section_material{
	background-color: $section_material;
	.text{ background-color: $section_material; }
}


$section_planification: #f7941d;
.section_planification{
	background-color: $section_planification;
	.text{ background-color: $section_planification; }
}


$section_califications: #662d91;
.section_califications{
	background-color: $section_califications;
	.text{ background-color: $section_califications; }
}

*/